<p>
	<label><%= l(:label_enable_mfa) %></label>
  <% if !@user.mfa_access_token.present? %>
		<a href='<%= "#{Setting.plugin_acceptto_mfa['mfa_site']}/mfa/email?uid=#{Setting.plugin_acceptto_mfa['app_uid']}&callback_url=#{request.protocol + request.host_with_port}/mfa/callback" %>'><%= l(:mfa_enable_now) %></a>
	<% elsif %>
		<%= l(:mfa_already_enabled) %>
  <% end %>
</p>
